body{
    background-color: lightgray;
}
#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
   
}
#nav-bar{
    display: flex;
}
.nav-link{
    margin-right: 20px;
    text-decoration: none;
    color: black;
    font-size: 30px;
}
#header-img{
    height: 50px;
}
main{
    padding: 50px;   
}
h1{
    text-align: center;
}
#form{
    align-items: center;
    /* margin-top: 50px; */
}
input[type="email"]{
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-left: 700px;
    width: 400px;

}
input[type="submit"]{
    margin-top: 10px;
    padding: 10px 20px;
    background-color:#f1c40f;
    text-transform: uppercase;
    font-weight: 800;
    width: 10%;
    margin-left:850px ;
}
#features{
    padding:100px

}
h3{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 60px;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-left: 60px;
}
.fa-solid{
    color:orange;
    font-size: 100px;

}
.para{
    display: inline-block;
}
#video{
    width:40%;
    height: 40%;
    margin-left: 500px;
}
section {
    display: flex;
}

article{
    flex: 1;
    margin-top: 40px;
}